/* heading tag start */
 body{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     width: 100%;
 }




.main_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 37px 0px; 
}
.btn_primary{
    background-color: white;
    padding: 15px;
    color:rgb(6, 45, 45);
    font-weight: 700;
    font-size: 17px;
    margin-right: 40px;
    border-radius: 10px;
    margin: 20px;
}
.main_title{
    margin-left: 50px;
}
.h_heading{
    
    text-align: center;
    background-image:url(Hero-bg.png) ;
    height:700px;
    /* margin: 100%; */
    
}
.h_button{
    padding: 20px;
    margin: 30px;
    font-size: 18px;
    background-color: black;
    border: 0;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.h_font{
    font-size: 45px;
    margin: 0px;
    /* font-style: normal; */
    
    padding: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
                                                   /* Heading tag end   */

                                                   /* main tag start */
.lorem1{
    padding-bottom: 60px;
    font-size: 20px;
}
.h_line{
    font-size: 27px;
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;

}
.lorem{
    /* text-align: center; */
    color:rgb(142, 132, 120);
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.about{
    text-align: center;
    /* padding-top: 10px; */
    margin-left: 100px;
    margin-right: 100px;
    background-color:ghostwhite;
    border-radius: 15px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    max-width: 1100px;
    
}
.s_des{
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 35px;
    margin: 50px;
    justify-content: monospace;
    
}
.will_do{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900px;
    color:rgb(101, 96, 89)
}
.image{
    padding-left: 200px;
}
.line_code{
    margin-left: 123px;
}
.s_des2{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-left: 70px;
    margin-right: 50px;
    gap: 50px;
    column-width: 100px;
}
.my_ins{
    text-align: center;
    padding-top: 40px;
    margin: 30px;
}
.div_line{
    text-align: center;
    padding-top: 50px;
    margin: 40px;
}

.logo_container{
    display:flex;
    justify-content: space-around;
    /* display: inline-block; */


}
main .logo_html{
    padding: 40px;
    width:300px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(253,233, 253, 0.9999);
}
.logo_css{
    background-color: ghostwhite;
    padding: 40px;
    width:300px;
    height: 200px;
    border-radius: 10px;
}
.box_shadow {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 983px;
    padding-right: 200px;
    margin-top: 45px;
    margin-left: 163px;
    height: 200px;
}
    
.logo_paragraph{
    padding-left: 20px;
}
.img_star {
    padding-top: 52px;
    padding-right: 12px;
}
.last_logo {
    text-align: center;
    border: 2px solid black;
    margin-top: 70px;
    height: 269px;
    margin-right: 140px;
    width: 1046px;
    margin-left: 109px;
    margin-left: 233px;
    background-image: url(assets/handshake.jpg);
    background-position: center;
    border-radius: 15px;
}
 .dis_item{ 
    display: inline-flex;
    padding: 26px;
    margin: -3px;
    
}
                                                          /* main tag sesh */

footer {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding: 26px;
    background-color: ghostwhite;
    border-radius: 10px;
}